<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/1.8.16/go-debug.js"></script>
-->
<!--<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>-->
<script
        src="http://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="stylesheets/DataInspector.css" />
<script src="javascripts/go-debug.js"></script>

<script src="https://d3js.org/d3.v3.js"></script>
<script src="javascripts/index.js"></script>



<body onload="init()">
<h1> <%= title%></h1>
<h2> <%= dt%></h2>

<button type ="button" id="buttonTest">Test direct link :( </button>

<div id="sample">
    <div id="myDiagramDiv" style="background-color: #696969; border: solid 1px black; height: 500px"></div>
    <div>
        <div id="myInspector">

        </div>
    </div>
    <div>
        <h1>Send JSON to Node</h1>
        <button id="submit" onclick="submit()">Send</button>
        <p id ="result">
        </p>
    </div>
   
    <div>
        <div>
            <button id="SaveButton" onclick="save()">Save</button>
            <button onclick="load()">Load</button>
            Diagram Model saved in JSON format:
        </div>
        <textarea id="mySavedModel" style="width:100%;height:250px">
{ "class": "go.TreeModel",
  "nodeDataArray": [
{"key":1, "name":"Tanks", "title":"Bo gia"},
{"key":2, "name":"Thuy", "title":"hihi", "parent":1},
{"key":3, "name":"Nhat", "title":"haha", "parent":1},
{"key":4, "name":"Son", "title":"hoho", "parent":2}
 ]
}
    </textarea>
    </div>
</div>
</body>

<script src="javascripts/ancestry.js"></script>
<script src="javascripts/DataInspector.js"></script>