<link rel="stylesheet" href="stylesheets/DataInspector.css" />
<script src="javascripts/go-debug.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://d3js.org/d3.v3.js"></script>

<h1> <%= title%></h1>
<h2> <%= dt%></h2>