/*
Default CSS for the Data inspector
see also: dataInspector.js, dataInspector.html
*/

/*
  Grey color palette
  https://www.google.com/design/spec/style/color.html
/*   #FAFAFA; /* Grey 50  */
/*   #F5F5F5; /* Grey 100 */
/*   #EEEEEE; /* Grey 200 */
/*   #E0E0E0; /* Grey 300 */
/*   #BDBDBD; /* Grey 400 */
/*   #9E9E9E; /* Grey 500 */
/*   #757575; /* Grey 600 */
/*   #616161; /* Grey 700 */
/*   #424242; /* Grey 800 */
/*   #212121; /* Grey 900 */

.inspector {
  display: inline-block;
  font: bold 14px helvetica, sans-serif;
  background-color: #F5F5F5; /* Grey 900 */
  color: #F5F5F5; /* Grey 100 */
  cursor: default;
}

.inspector table {
  border-collapse: separate;
  border-spacing: 2px;
}

.inspector td, th {
  padding: 2px;
}

.inspector input {
  background-color: #424242; /* Grey 800 */
  color: #F5F5F5; /* Grey 100 */
  font: bold 12px helvetica, sans-serif;
  border: 0px;
  padding: 2px;
}

.inspector input:disabled {
  background-color: #BDBDBD; /* Grey 400 */
  color: #616161; /* Grey 700 */
}

.inspector select {
  background-color: #424242;
}

